/* Custom fonts used on the website */
@font-face {
    font-family: 'Canvas';
    src: url(Fonts/Canvas.otf);
}
@font-face {
    font-family: 'Lemon Milk';
    src: url(Fonts/LemonMilk.otf);
}
@font-face {
    font-family: 'Louis George';
    src: url(Fonts/LouisGeorge.ttf);
}
/* Fonts */
$mainFont: 'Canvas';
$subFont: 'Lemon Milk';
$pFont: 'Louis George';

/* Colors */
$homeBgColor: #E9E9EB;
$colorOne: #2F9B81;
$colorTwo: #D2E0EB;


